
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    gap: 20px;
    border: 2px solid green;
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
img{
    border-radius: 50%;
}
h1{
    text-align: center;
    color: green;

}
button{
    margin: 20px 20px;
    text-align: center;
    cursor: pointer;
    height:40px ;
    width:150px ;
    background-color: green;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}