* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.main{
    margin: 20px 20px;
    padding: 20px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.totalForm{
    min-height: 500px;
    min-width: 500px;
    background-color: aliceblue;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(25, 25, 209);
    padding-bottom: 20px;
    padding-top: 20px;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 4px;
    padding: 4px;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
}
label{
    margin: 4px;
    padding: 4px;
    
}

.btn{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 24px;
    font-size: 16px;
    background-color: rgb(25, 25, 209);
    cursor: pointer;
    text-align: center;
}



